<a href="https://colab.research.google.com/github/imsrinanda/imsrinanda/blob/main/Lab%201%20Data%20Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
#Question 1
bank = open("/content/bank.csv","r")
bank_dataset = bank.readlines()
bank_list = []
for line in bank_dataset:
  ds = line.strip().split(";")
  bank_list.append(ds)
def view_dataset(bank_list):
  for i in bank_list:
    print(i)

In [112]:
# Question 2
def view_header(bank_dataset):
  header = bank_dataset[0].strip().split(";")
  print(header)
view_header(bank_dataset)

['"age"', '"job"', '"marital"', '"education"', '"default"', '"balance"', '"housing"', '"loan"', '"contact"', '"day"', '"month"', '"duration"', '"campaign"', '"pdays"', '"previous"', '"poutcome"', '"y"']

In [94]:
#Question 3
def count_married_emp(bank_list):
  detailed_sep = [i for i in bank_list]

  a = 0
  for i in detailed_sep:
    for j in i:
      if j == '"married"':
        a += 1
  print(a)

In [ ]:
menu = input('''
Hello!
Choose what you want to do.
1) View the dataset.
2) View the header.
3) View the count of married people.
4) Exit.

Only enter 1 (or) 2 (or) 3 (or) 4.
''')
k = 0
menu = int(menu)
if menu == 1:
  view_dataset(bank_list)
elif menu == 2:
  view_header(bank_dataset)
elif menu == 3:
  count_married_emp(bank_list)
elif menu == 4:
  print("Successfully exited!")
else:
  print("Invalid option! Run the code again.")